body {
    padding: 0%;
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #ffffff;
    color: #3c3c3c;
}

.header {
    width: 100%;
    margin: 0 auto;
    display: table;
    vertical-align: bottom;
}

.imglogoheader {
    justify-content: flex-start;

}

.imglogoheadertext {
    padding-left: 10px;
    padding-top: 0%;
    font-family: 'Lucida Handwriting';
    font-size: 24px;
    font-weight: bold;
    animation: move-right 15s infinite;
}

@keyframes move-right {
    0% {
        transform: translateX(0);
    }

    60% {
        transform: translateX(60%);
    }
}

.imglogoheader img {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.header {
    background-color: #04AA6D;
    margin-top: 20px;
    vertical-align: bottom;
}

.textlogo {
    padding-left: 20px;
    padding-top: 10px;
    justify-content: flex-start;
    float: left;
    width: 60%;
    vertical-align: bottom;
    font-weight: normal;
}


.menu {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-end;
    background-color: #04AA6D;

}

.menu-item {
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    vertical-align: bottom;
}

.menu-item:hover {
    background-color: #f1f1f1;
}

.container {
    display: flex;
}

.container img {
    width: 10px;
    height: 20px;
    vertical-align: bottom;
}

aside {
    width: 15%;
    padding: 0px;
    height: calc(100vh - 180px);
}

main {
    flex: 1;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: #04AA6D;
    font-size: smaller;
    height: 20px;
}

/* unvisited link */
a:link {
    color: #003300;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #003300;
    font-weight: normal;
    font-style: normal;
}

/* mouse over link */
a:hover {
    color: #003300;
    font-weight: normal;
    font-style: normal;
}

a:active {
    color: #003300;
    font-weight: bold;
    font-style: normal;
}

iframe {
    position: absolute;
    height: 80vh;
    width: 80vw;
    border: none;

}

.pagescontent {
    width: 100%;
    margin: 0 auto;
    margin-right: 100px;
    text-align: left;
    font-size: 20px;

}

.pagescontent img {
    float: left;
    margin-right: 20px;
}

.pagescontent p {
    text-align: justify;
}

.pagescontent h2 {
    text-align: justify;
    padding: 50px;
}

button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover {
    opacity: 0.7;
}

.cardcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Creates 3 equal columns */
    gap: 20px;
    /* Adds spacing between columns and rows */
}

.card img {
    width: 100%;
    height: 250px;
}

.row {
    display: grid;
}

#cartproducts {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    justify-content: flex-end;
}

#cartproducts td,
#cartproducts th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: right;
}

#cartproducts tr:nth-child(even) {
    background-color: #f2f2f2;
}

#cartproducts tr:hover {
    background-color: #ddd;
}

#cartproducts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
    background-color: #04AA6D;
    color: white;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid green;
    border-radius: 1px;
}

.mapswrapper {
    background: #fff;
    position: relative
}

.mapswrapper iframe {
    border: 0;
    position: relative;
    z-index: 2
}

.mapswrapper a {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0
}

.contactdata {
    vertical-align: top;
    font-size: 14px;
    margin-right: 120px;
    text-align: left;
    padding-right: 20px;
    color: #003300;
}